<!DOCTYPE html>
<html>
	<head>
		<title>Art Gallery</title>
		
		<!-- Choosing AngularJS for its data binding properties -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Link to style sheet -->
		<link href="assets/css/artgallery.css" type="text/css" rel="stylesheet" />
		
		<!-- Mobile/tablet scaling -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body ng-app="myApp" ng-controller="artDisplayCtrl" ng-class="showModal ? 'no-scroll' : ''">
		<div class="loading-spinner-overlay">
			<img src="assets/images/spinner.svg">
		</div>
		
		<div class="myNavbar">
			<div class="primaryNav">
				<div class="logo">
					<span class="logo-left">Art</span>Gallery
				</div>
			</div>
		</div>
		
		<div id="top-button" ng-click="scrollTop()">^^</div>
		
		<!-- Bootstrap columns to save some time... -->
		<div class="container">
			<div class="search-bar">Search by Title: <input type="text" ng-model="filters.title"></div>
			<div class="search-bar">Search by Artist: <input type="text" ng-model="filters.artist"></div>
			
			<!-- 3 column display but responsive down to 1 column on small screens -->
			<div class="row">
				<div class="col-xs-12 col-md-4 col-lg-4">
					<div class="art-thumbnail" ng-if="$index % 3 == 0" ng-repeat="artPiece in artPieces | filter:{artist: filters.artist, title: filters.title}" ng-click="toggleModal($event)">
						<img ng-src="{{artPiece.thumbnailUrl}}" />
						<p class="title">{{ artPiece.title }}</p>
						<p class="artist">{{ artPiece.artist }}; {{ artPiece.year }}</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4 col-lg-4">
					<div class="art-thumbnail" ng-if="$index % 3 == 1" ng-repeat="artPiece in artPieces | filter:{artist: filters.artist, title: filters.title}" ng-click="toggleModal($event)">
						<img ng-src="{{artPiece.thumbnailUrl}}" />
						<p class="title">{{ artPiece.title }}</p>
						<p class="artist">{{ artPiece.artist }}; {{ artPiece.year }}</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4 col-lg-4">
					<div class="art-thumbnail" ng-if="$index % 3 == 2" ng-repeat="artPiece in artPieces | filter:{artist: filters.artist, title: filters.title}" ng-click="toggleModal($event)">
						<img ng-src="{{artPiece.thumbnailUrl}}" />
						<p class="title">{{ artPiece.title }}</p>
						<p class="artist">{{ artPiece.artist }}; {{ artPiece.year }}</p>
					</div>
				</div>
			</div>
			
			<!-- Opaque modal overlay -->
			<div id="modal-overlay" ng-show="showModal" ng-init="showModal = false"></div>
			
			<!-- Toggle-able modal to display a selected art piece -->
			<div id="modal-wrapper" ng-class="showModal ? 'modal-show' : ''" ng-click="showModal = false">
				<div id="modal" ng-click="$event.stopPropagation()" >
					<div id="modal-close" ng-click="showModal = false">X</div>
					<img ng-src="{{modalThumbnailUrl}}" />
					<h1>{{modalTitle}}</h1>
					<h3>{{modalArtist}}; {{modalYear}}</h3>
					<p>{{modalCreditLine}}</p>
					<p>Additional Info: <a href="{{modalURL}}">{{modalURL}}</a></p>
				</div>
			</div>
		</div>
		
		
		<!-- jQuery files ($.getJSON) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js" crossorigin="anonymous"></script>
		
		<script src="assets/js/artGallery.js" type="text/javascript"></script>
	</body>
</html>	