body {
	font-family: 'Roboto', sans-serif; 
	overflow-x: hidden;
}
	body.no-scroll {
		overflow: hidden;
	}

.loading-spinner-overlay {
	background: rgba(255,255,255,0);
	height: 100%;
	width: 100%;
}
	.loading-spinner-overlay img {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	
.myNavbar {
	height: 50px;
	width: 100%;
	background: #5BB670;
	border: 0;
	padding: 0 47.78px;
	margin-bottom: 20px;
}
	.myNavbar .primaryNav {
		max-width: 1200px;
		margin: 0 auto;
	}
	.myNavbar .logo {
		height: 100%;
		float: left;
		padding: 13px 0 13px 0;
		font-size: 24px;
		line-height: 24px;
		color: white;
	}
		.myNavbar .logo .logo-left {
			color: black;
		}
		
#top-button {
	opacity: 0.5;
	z-index: 900;
	background: #EEEEEE;
	height: 50px;
	width: 60px;
	font-size: 50px;
	font-weight: 1000;
	padding-top: 10px;
	line-height: 50px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 3px;
	transition: opacity 0.2s;
}
	#top-button:hover {
		cursor: pointer;
		opacity: 0.9;
	}
		
.search-bar {
	text-align: right;
	margin-bottom: 20px;
}

.art-thumbnail {
	border: 1px solid #DDDDDD;
	border-radius: 6px;
	margin-bottom: 30px;
	padding: 10px;
	transition: background ease-in-out 0.15s, height 0.5s, width 0.5s;
}
	.art-thumbnail img {
		width: 100%;
		height: auto;
		border-radius: 6px;
	}
	.art-thumbnail .title {
		color: black;
		font-size: 20px;
	}
	.art-thumbnail .artist {
		color: gray;
		font-size: 16px;
	}
	.art-thumbnail:hover {
		background: #EEEEEE;
		cursor: pointer;
	}
	
#modal-overlay {
	background: #FFFFFF;
	opacity: .80;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100%;
	width: 100%;
}

#modal-wrapper {
    z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: translate(0, -100%);
	transition-duration: 600ms;
}
	#modal-wrapper.modal-show {
		transform: translate(0, 0);
	}

#modal {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 6px;
	max-height: 70%;
	max-width: 70%;
	padding: 20px;
}
	#modal img {
		float: left;
		height: 100%;
		width: auto;
		max-width: 40%;
		margin-right: 20px;
	}
	#modal #modal-close {
		font-weight: 900;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#modal #modal-close:hover {
		cursor: pointer;
	}

@media (max-width: 767px) {
	
	.myNavbar {
		padding-left: 15px;
	}
	
	#modal {
		max-height: 50%;
		max-width: 90%;
	}
		#modal img {
			height: 50%;
			max-width: 40%;
		}
}