body {
	background: #DDDDDD;
	font-family: 'Roboto', sans-serif; 
	margin-top: 50px;
	padding-bottom: 50px;
	-webkit-font-smoothing: antialiased;
}

.logo {
	margin-right: 30px;
}

/* Remove default link styling */
a, a:hover, a:focus, a:visited {
	color: #FFFFFF;
}

.hidden-anchor {
	display: block;
    padding-top: 60px;
    margin-top: -60px;
}

/* Navbar styling */
.navbar-nav a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* Define main content areas */
.wrapper {
	background: #FFFFFF;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	-webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
	box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #5BB670;
	color: #FFFFFF;
	/* Fix bootstrap column height fill issue */
	padding-bottom: 100%;
}

.main-wrapper {
	margin: 0;
	padding: 60px;
}

/* Scaling for small screens */
@media (max-width: 767px) {
	.sidebar-wrapper {
		padding-bottom: 30px;
	}
	
	.job .job-logo {
		display: none;
	}
}

/* Sidebar content */
.sidebar-wrapper .name {
	font-size: 32px;
	font-weight: 900;
}

.sidebar-wrapper .title {
	font-size: 20px;
	font-weight: 400;
}

.profile-container {
	background: #49925A;
	padding: 30px;
	text-align: center;
}

.profile-pic {
	height: 150px;
	width: 150px;
	border: 2px solid #999999;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.contact-container, .education-container {
	background: #5BB670;
	padding: 30px 30px 0px 30px;
}

.contact-container .contact-list {
	padding: 0;
	margin: auto;
    list-style: none;
}

.sidebar-wrapper .contact-list .fa {
	margin-right: 5px;
}

.contact-container .contact-list li {
	margin-bottom: 10px;
}

.container-block-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 6px;
}

.degree, .degree-concentration, .degree-school, .degree-time {
	font-size: 14px;
	font-weight: 600;
}

.degree-concentration, .degree-school, .degree-time{
	color: #666666;
}

/* Main content */
.section {
	margin-bottom: 20px;
}

.section-title {
	color: #49925A;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 15px;
}

.main-wrapper .download-button {
	padding-top: 10px;
	padding-right: 15px;
	position: absolute;
	color: #AAAAAA;
	top: 0;
	right: 0;
	font-size: 30px;
}

.download-text {
	vertical-align: middle;
	font-size: 16px;
}

.download-button {
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.download-button:hover, .download-button:focus {
	color: #888888;
	cursor: pointer;
}

.main-wrapper .section-title .fa {
	height: 30px;
	width: 30px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 16px;
	padding-top: 8px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	background: #49925A;
}

/* Job descriptions */
.job {
	margin-bottom: 30px;
}

.job .job-title {
	font-size: 18px;
	color: #3F4650;
	font-weight: 500;
}

.job-title .job-time {
	color: #97AAC3;
	font-weight: 400;
	font-size: 18px;
	float: right;
	position: relative;
	right: 0;
	top: 0;
}

.job .job-company {
	color: #97AAC3;
	font-size: 16px;
	font-weight: 400;
	margin-top: 2px;
}

.job .job-logo {
	margin-left: 10px;
	height: 30px;
}

.job .job-description {
	font-size: 14px;
}

.job ul {
	margin: 0;
	padding-left: 18px;
}