body {
	margin: 0;
	background: #DDDDDD;
	font-size: 14px;
	font-family: 'Roboto', sans-serif; 
	line-height: 1.42857143;
	padding-bottom: 50px;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0 0 10px;
}

img {
	vertical-align: middle;
	border: 0;
}

/* Remove default link styling */
a {
	color: inherit;
	text-decoration: none;
}

.sidebar-wrapper a:hover {
	text-decoration: underline;
}

.fa {
	box-sizing: border-box;
}

/* Navbar styling */
.navbar {
	height: 50px;
	width: 100%;
	background: #FFFFFF;
	position: fixed;
	top: 0;
	font-size: 16px;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	z-index: 999;
}

.navbar-menu {
	height: inherit;
	margin: 0;
	display: inline-block;
}

.navbar-menu li:first-child {
	margin-left: 0;
}

.navbar-menu li {
	height: 35px;
	padding-top: 12px;
	color: black;
	display: inline-block;
	margin-left: 30px;
}

.navbar-menu li.active, .navbar-menu li:hover {
	border-bottom: 3px solid #49925A;
}

/* Define main content areas */
.wrapper {
	position: relative;
	background: #FFFFFF;
	max-width: 1000px;
	margin: 50px auto;
	padding: 0;
	-webkit-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.1);
	box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.1);
	
	/* Fade in effects */
	-webkit-transition: opacity .75s ease-in-out;
	-moz-transition: opacity .75s ease-in-out;
	transition: opacity .75s ease-in-out;
	opacity: 0;
}

.sidebar-wrapper {
	position: absolute;
	left: 0;
	height: 100%;
	width: 280px;
	margin: 0;
	padding: 0;
	background: #5BB670;
	color: #FFFFFF;
}

.main-wrapper {
	margin: 0;
	padding: 60px;
	padding-left: 340px;
}

/* Sidebar content */
.sidebar-wrapper .name {
	font-size: 32px;
	font-weight: 900;
}

.sidebar-wrapper .title {
	font-size: 20px;
	font-weight: 400;
}

.profile-container {
	background: #49925A;
	padding: 30px;
	text-align: center;
}

.profile-pic {
	height: 150px;
	width: 150px;
	border: 2px solid #888888;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.contact-container, .education-container {
	background: #5BB670;
	padding: 30px 30px 0px 30px;
}

.contact-container .contact-list {
	padding: 0;
	margin: auto;
    list-style: none;
}

.sidebar-wrapper .contact-list .fa {
	margin-right: 5px;
}

.contact-container .contact-list li {
	font-size: 14px;
	margin-bottom: 10px;
}

.container-block-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 6px;
}

.degree, .degree-concentration, .degree-school, .degree-time {
	font-size: 14px;
	font-weight: 600;
}

.degree-concentration, .degree-school, .degree-time{
	color: #666666;
}

/* Main content */
.download-button {
	padding-top: 10px;
	padding-right: 15px;
	position: absolute;
	color: #AAAAAA;
	top: 0;
	right: 0;
	font-size: 30px;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.download-button .fa {
	vertical-align: middle;
}

.download-text {
	vertical-align: middle;
	font-size: 16px;
}

.download-button a:hover, .download-button:hover, .download-button:focus {
	color: #888888;
	cursor: pointer;
}

/* Section title styling */
.section {
	margin-bottom: 20px;
}

.section:last-child {
	margin-top: 30px;
}

.section-title {
	color: #49925A;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 15px;
}

.section-title .fa {
	height: 30px;
	width: 30px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 16px;
	padding-top: 8px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	background: #49925A;
}

/* Job descriptions */
.job {
	margin-bottom: 25px;
}
.job .job-title {
	font-size: 18px;
	color: #3F4650;
	font-weight: 500;
	white-space: nowrap;
}

.job-title .job-time {
	color: #97AAC3;
	font-weight: 500;
	font-size: 16px;
	float: right;
	position: relative;
	right: 0;
	top: 0;
}

.job .job-company {
	color: #97AAC3;
	font-size: 16px;
	font-weight: 400;
	margin-top: 2px;
}

.job .job-logo {
	margin-left: 2px;
	height: 30px;
}

.job .job-description {
	font-size: 14px;
}

.job ul {
	margin: 0;
	padding-left: 18px;
}

/* Skills section */
.skill {
	margin-bottom: 15px;
}

.skill:last-child {
	margin-bottom: 30px;
}

.skill-name {
	color: #3F4650;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
}

.skill-bar {
	background: #EEEEEE;
	height: 12px;
	width: 100%;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
}

.skill-bar-inner {
	background: #8BE6A0;
	height: 12px;
	width: 0;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
}

/* Projects section */
.project:not(:last-child) {
	margin-bottom: 15px;
}

.project-name a {
	font-size: 16px; 
	font-weight: 500;
	color: #49925A;
}

/* Modal windows */
.remodal {
	height: 90%;
	width: 90%;
}

/* Scaling for small screens */
@media (max-width: 991px) {
	.main-wrapper {
		padding-left: 310px;
		padding-right: 30px;
	}
	.job .job-time {
		float: none;
		position: static;
		margin-bottom: -2px;
	}
}

@media (max-width: 767px) {
	.navbar {
		display: none;
	}
	
	.wrapper {
		margin-top: 0;
	}
	.sidebar-wrapper {
		padding-bottom: 30px;
		position: static;
		width: inherit;
	}
	.main-wrapper {
		width: inherit;
		padding-top: 40px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.download-button {
		color: #FFFFFF;
		font-size: 24px;
	}
	.download-text {
		font-size: 14px;
	}
}